/src/OpenAL64.dll
/src/net/xiaoyu233/fml/util/MappingConvertor.java
/src/net/xiaoyu233/fml/util/MappingGenerator.java
/src/net/xiaoyu233/fml/util/MapConnector.java
/mappings.srg
/field_backup.mapping
/method_backup.mapping
/method.mapping.backup
method_.mapping
class_.mapping
field_.mapping
/logs
/.shelf
/.idea
/libs
/out